.one {
  background-color: lightsalmon;
}

.two {
  background-color: lightcyan;
  width: 20rem;
  height: 10px;
  padding: 50px;
  border: 10px solid blue;
}

.two span {
  background-color: lightpink;
}

header {
  background-color: lightgreen;
  padding: 1rem;
  border: 20px solid red;
}

header h1 {
  background-color: rebeccapurple;
  color: white;
  width: 40%;
  margin: 0 auto;
}
