@import "normalize.css";

body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

article {
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 1;
}

article > * {
  width: 50%;
}

article figure img {
  max-width: 100%;
}

footer {
  background-color: lightgrey;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

footer p {
  padding: 0 2rem;
}
