@import "normalize.css";

/* Generic styles */

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

main {
  width: 100%;
}

main h2 {
  text-align: center;
}

.main-header {
  background-color: grey;
}

.main-header h1 {
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 2.5rem;
}

.main-header ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.main-header li {
  margin: 0 auto 1rem;
}

.main-header a {
  color: white;
  background-color: #0080ff;
  text-decoration: none;
  padding: 0.6rem;
  display: inline-block;
  min-width: 20vw;
  text-align: center;
}

footer {
  width: 100%;
  display: flex;
  background-color: lightgrey;
  padding: 1rem;
}

.copyright p:first-child {
  font-weight: bold;
}

.copyright {
  width: 70%;
}

/* Big screens */
@media (min-width: 800px) {
  body {
    display: flex;
  }

  .main-header ul {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .main-header li {
    margin: 0 1rem 1rem 0;
  }

  footer {
    flex-direction: column;
  }

  footer ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 1rem;
  }
}
