h1 {
  color: #0080ff;
}

.paragraph {
  font-size: 1.5rem;
}

.green {
  color: green;
}

blockquote.green {
  font-variant: small-caps;
}

#article1 {
  font-size: 2rem;
}

[data-val] {
  text-decoration: underline;
}

[data-val="3"] {
  color: red;
}

[data-tags="css"] {
  text-align: center;
}

[data-tags~="css"] {
  background-color: yellow;
}

li[data-name^="Ro"] {
  background-color: yellow;
}

li[data-name$="ert"] {
  color: green;
}

li[data-name*="r"] {
  text-decoration: underline;
}

a[href^="http"] {
  color: white;
  background-color: blue;
  font-size: 2rem;
}
