a {
  color: darkgoldenrod;
}

a:visited {
  color: red;
}

a:hover {
  font-size: 1.4rem;
}

input[type="checkbox"] {
  margin-left: 1rem;
}

input[type="checkbox"]:checked {
  margin-left: 0;
}

.links li:first-child {
  background-color: blue;
}

.links li:last-child {
  background-color: indianred;
}

.links li:nth-child(2) {
  background-color: crimson;
}

.numbers li:nth-child(even) {
  background-color: darkgreen;
}

.numbers li:nth-child(odd) {
  background-color: darkslateblue;
}

.numbers li::after {
  content: "💃";
}
